In [1]:
import requests
import pandas as pd

def get_binance_data(symbol="BTCUSDT", interval="1h", limit=500):
    url = f"https://api.binance.com/api/v3/klines?symbol={symbol}&interval={interval}&limit={limit}"
    response = requests.get(url).json()

    df = pd.DataFrame(response, columns=["timestamp", "open", "high", "low", "close", "volume", 
                                         "close_time", "qav", "num_trades", "taker_base_vol", "taker_quote_vol", "ignore"])

    df["timestamp"] = pd.to_datetime(df["timestamp"], unit="ms") + pd.Timedelta(hours=3)
    df[["open", "high", "low", "close", "volume", "taker_base_vol", "taker_quote_vol"]] = df[["open", "high", "low", "close", "volume", "taker_base_vol", "taker_quote_vol"]].astype(float)

    return df[["timestamp", "open", "high", "low", "close", "volume", "taker_base_vol", "taker_quote_vol"]]

btc_df = get_binance_data()
display(btc_df)

,timestamp,open,high,low,close,volume,taker_base_vol,taker_quote_vol
0,2025-03-12 05:00:00,83313.60,83330.04,82217.01,82430.79,1790.05082,759.38762,6.280673e+07
1,2025-03-12 06:00:00,82430.80,82620.01,82100.61,82127.72,1003.13679,450.95394,3.715517e+07
2,2025-03-12 07:00:00,82127.73,82180.00,81617.76,81811.05,1145.12345,533.56250,4.368503e+07
3,2025-03-12 08:00:00,81811.05,82048.93,81617.00,81987.43,734.00302,418.45811,3.425654e+07
4,2025-03-12 09:00:00,81987.44,81987.44,81296.00,81425.98,774.02218,289.03047,2.359832e+07
...,...,...,...,...,...,...,...,...
495,2025-04-01 20:00:00,85120.00,85333.33,84901.32,85117.85,775.26240,406.74152,3.462899e+07
496,2025-04-01 21:00:00,85117.86,85183.46,84720.00,85126.68,742.89553,429.85459,3.652937e+07
497,2025-04-01 22:00:00,85126.68,85184.89,84816.83,84972.01,897.45326,543.53588,4.622293e+07
498,2025-04-01 23:00:00,84972.00,85350.00,84773.58,85231.28,528.39638,289.54869,2.461356e+07
499,2025-04-02 00:00:00,85231.28,85476.86,85120.00,85296.28,272.91737,160.18518,1.366281e+07